.DS_Store
node_modules/
dist/
db/
*.env
env_files/
log.out
geth/
keystore/


# django gitignore.io
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
media


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
